// Import common styles
@import "app-common";

// Place any CSS rules you want to apply only on Android here
.page__content {
    &-icon,
    &-placeholder {
        color: rgb(0, 4, 255);
        font-size: 25;
        vertical-align: top;
    }

    &-icon {
        font-size: 80;
        margin-top: 10%;
    }
}