<ActionBar>

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Noticias"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf1ea;"></Label>
    <Label class="page__content-placeholder" *ngFor="let s of this.noticias.favs()" [text]="s"></Label>
</StackLayout>
<GridLayout columns="auto, *" class="nt-drawer__list-item"  [nsRouterLink]= "['detalle']">
    <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
    <Label col="1" text="Detalles" class="p-r-10"></Label>
</GridLayout>