<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Search"></Label>
</ActionBar>

<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
   <!-- <SearchForm (search)="buscarAhora($event)" [inicial]="Banevim" ></SearchForm>
    <Listview class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)"
    style="height:1250px;" >
        <ng-template let-x="item">
             <GridLayout class="list-group-item">
                <imagen src="res://icon" class="img-thumbnail img-circle"></imagen>
                 <Label [text]="x" class="list-group-item-heading" verticalAligment="center" style="width:60%" ></Label>
                 <Label class="nt-icon fas" text="Hola" style="width: 20%; color: #00ff4c;" verticalAlignment="center" (tap)="onTap($event)" ></Label>
             </GridLayout>   
        </ng-template>
    </Listview>-->
    <SearchForm (search)="buscarAhora($event)" [inicial]="'Futb'"></SearchForm>
    <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" style="height: 1250px">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle" (longPress)="socialShare(x)"></Image>
                <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 30%" ></Label>
                <Label class="far" text="&#xf005;" style="width: 10%; color: yellow;" verticalAlignment="center"></Label>
                <label text="social here!" (tap)="onButtonTap(s)" style="width: 25%;" ></label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>